<!DOCTYPE html>
<html lang="en">
	<!--prefix="og: http://ogp.me/ns#"-->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="csrf-token" content="<%= locals.csrfToken %>" />

		<meta property="title" content="ablin@dev" />
		<meta name="meta image" property="image" content="/img/screencap.png" />
		<meta property="description" content="Web Developer Fullstack | Freelance | Ready to enhance your online activity and solve your problems" />
		<meta property="url" content="https://www.ablin.dev/" />

		<link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
		<title>ablin@dev</title>

		<!-- JQuery -->
		<script type="text/javascript" src="/jQuery.min.js"></script>

		<!-- Bootstrap integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" -->
		<link rel="stylesheet" href="/bootstrap.min.css" />
		<script src="/bootstrap.min.js"></script>

		<!-- fullpage-->
		<script src="/scripts/fullpage.min.js"></script>
		<link rel="stylesheet" href="/fullpage.min.css" />

		<!-- <script src="https://cdn.jsdelivr.net/npm/lax.js"></script> -->

		<!-- FontAwesome Icons -->
		<script src="/fontawesome.kit.js"></script>

		<script src="/scripts/core/alert.js"></script>
		<link rel="stylesheet" href="/main.css" />
	</head>
	<body></body>
</html>
