<%- include('partials/head'); -%>

<div id="fullPage">
	<section class="section main-section hero" id="landing-section" data-anchor="landing">
		<div class="bg-clipper" data-animation="bgAnim">
			<nav class="navbar navbar-dark pt-4">
				<a class="navbar-brand" href="#">ablin@dev</a>

				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="https://www.linkedin.com/in/ablin42/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.github.com/ablin42" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
					</li>
				</ul>
			</nav>

			<h3 class="col-md-8" data-animationC="firstHeroAnim">Hi, Im a <i>{</i><b> fullstack web developer </b><i>}</i> and my name is</h3>
			<h1 class="hero-title" data-animation="heroAnim">Andréas Blin</h1>
			<h2 class="hero-secondary-title col-md-6 offset-md-1">❝<i>I will build the website you've been dreaming of</i> ❞</h2>

			<a href="#portfolio" class="action-link portfolio-link offset-md-3" data-animation="portfolioLinkAnim">Portfolio</a>
			<img src="/svg/undraw_freelancer.svg" class="freelancer-svg" alt="Freelance Illustration" data-animation="freelancerAnim" draggable="false" />
			<div class="scroll-indicator" data-animation="indicatorAnim"></div>
		</div>
	</section>

	<section class="section main-section even" id="portfolio-section" data-anchor="portfolio">
		<div class="bg-clipper">
			<div class="slide" id="maral">
				<h1 class="hero-title mt-4 mb-0" data-animation="heroAnim"><a href="https://www.maral.fr" target="_blank">Maral.fr</a></h1>

				<div class="portfolio-item row">
					<div class="portfolio-info col-md-4 offset-md-1">
						<p>
							An <b>e-commerce</b> website allowing customers to purchase paintings or replicas of these paintings using <b><a href="https://pwinty.com/" target="_blank">Pwinty API</a></b> to
							automatically handle replicas orders. Clients can pay for their orders by card using the <b><a href="https://stripe.com/" target="_blank">Stripe API</a></b
							>.
						</p>
						<p>
							I used <b><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></b> for the main layout of the front-end design, although most of the <b>CSS</b> has been custom-made to the
							client's taste. The <b>NodeJS</b> back-end is built around a <b>custom API</b> to manage requests and orders seamlessly.
						</p>
						<p>Includes an admin interface that allows the client to manage the content of the website and the orders very easily, with just a few clicks.</p>

						<ul>
							<li>NodeJS</li>
							<li>API</li>
							<li>Pwinty</li>
							<li>Stripe</li>
							<li>Bootstrap</li>
						</ul>
						<div class="skill-call-wrapper">
							<a href="#skills" class="action-link m-auto">Skills</a>
						</div>
					</div>

					<div class="portfolio-thumbnail-wrapper col-md-6">
						<a href="https://www.maral.fr" target="_blank"><img class="w-100" src="/img/maral_thumbnail.jpg" alt="Maral.fr Screenshot" draggable="false" /></a>
					</div>
				</div>
			</div>

			<div class="slide">
				<h1 class="hero-title mt-4 mb-0"><a href="#" target="_blank">Some project</a></h1>
			</div>

			<div class="slide">
				<h1 class="hero-title mt-4 mb-0"><a href="#" target="_blank">Some other project</a></h1>
			</div>
		</div>
	</section>

	<section class="section main-section" id="skills-section" data-anchor="skills">
		<div class="bg-clipper">
			<h1 class="hero-title mt-2 mb-0" data-animation="heroAnim">Skills</h1>

			<div class="skill-content col-md-10 p-3">
				<p class="skills-text">{ Non-exhaustive list }</p>
				<div class="skills-section">
					<h2>Front-end</h2>
					<div class="skills-wrapper col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
						<h1>{</h1>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/javascript_icon.png" alt="Javascript" draggable="false" />
							</div>
							<label>Javascript</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/jquery_icon.png" alt="JQuery" draggable="false" />
							</div>
							<label>JQuery</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/html_icon.png" alt="HTML5" draggable="false" />
							</div>
							<label>HTML5</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/css_icon.png" alt="CSS3" draggable="false" />
							</div>
							<label>CSS3</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/sass_icon.png" alt="SASS" draggable="false" />
							</div>
							<label>SASS</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/vuejs_icon.png" alt="Vuejs" draggable="false" />
							</div>
							<label>Vue.js</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/bootstrap_icon.png" alt="Bootstrap" draggable="false" />
							</div>
							<label>Bootstrap</label>
						</div>
						<h1>}</h1>
					</div>

					<div class="skills-section">
						<h2>Back-end</h2>
						<div class="skills-wrapper col-lg-8 offset-lg-2 col-md-10 offset-md-1">
							<h1>{</h1>
							<div class="wrapper-icon">
								<div>
									<img class="skill-icon" src="/img/icons/white/nodejs_icon.png" alt="NodeJS" draggable="false" />
								</div>
								<label>NodeJS</label>
							</div>
							<div class="wrapper-icon">
								<div>
									<img class="skill-icon" src="/img/icons/white/php_icon.png" alt="PHP" draggable="false" />
								</div>
								<label>PHP</label>
							</div>
							<div class="wrapper-icon">
								<div>
									<img class="skill-icon" src="/img/icons/white/database_icon.png" alt="Database SQL/noSQL" draggable="false" />
								</div>
								<label>SQL / noSQL</label>
							</div>
							<div class="wrapper-icon">
								<div>
									<img class="skill-icon" src="/img/icons/white/api_icon.png" alt="API" draggable="false" />
								</div>
								<label>API</label>
							</div>
							<div class="wrapper-icon">
								<div>
									<img class="skill-icon" src="/img/icons/white/s3_icon.png" alt="S3" draggable="false" />
								</div>
								<label>S3</label>
							</div>
							<h1>}</h1>
						</div>
					</div>

					<div class="skills-section">
						<h2>Misc</h2>
						<div class="skills-wrapper col-lg-8 offset-lg-2">
							<h1>{</h1>
							<div class="wrapper-icon">
								<div>
									<img class="skill-icon" src="/img/icons/white/git_icon.png" alt="Git" draggable="false" />
								</div>
								<label>Git</label>
							</div>
							<div class="wrapper-icon">
								<div>
									<img class="skill-icon" src="/img/icons/white/docker_icon.png" alt="Docker" draggable="false" />
								</div>
								<label>Docker</label>
							</div>

							<div class="wrapper-icon">
								<div>
									<img class="skill-icon" src="/img/icons/white/console_icon.png" alt="Shell" draggable="false" />
								</div>
								<label>Shell</label>
							</div>
							<h1>}</h1>
						</div>
					</div>
				</div>
				<a href="#contact" class="action-link m-auto">Contact me !</a>
			</div>
		</div>
	</section>

	<section class="section main-section even" id="contact-section" data-anchor="contact">
		<div class="bg-clipper">
			<h1 class="hero-title mt-2" data-animation="heroAnim">Contact</h1>

			<form class="col-md-6 col-sm-8 offset-sm-2" id="contact-form" method="POST" data-animation="formAnim" action="/api/contact/">
				<div class="row">
					<div class="col-md-12">
						<label class="control-label">Email</label>
						<input placeholder="johndoe@gmail.com" type="email" name="email" id="email" required />
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-md-12">
						<label class="control-label">Object</label>
						<input placeholder="Hello..." type="text" name="title" id="title" required />
					</div>
					<div class="col-md-12 mt-2">
						<label class="control-label">Message</label>
						<textarea class="mb-0" id="content" rows="8" name="content" placeholder="Write your message here..." required></textarea>
					</div>
				</div>

				<div class="submit-btn-wrapper">
					<span>Send</span>
					<input type="submit" class="action-btn" value="Send" id="submit-contact" />
				</div>
				<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />

				<div class="col-md-12 p-0 mt-3 contact-alert-wrapper">
					<div id="contact-alert"></div>
				</div>
			</form>

			<img src="/svg/undraw_messages.svg" class="contact-svg" alt="Contact Illustration" data-animation="contactSvgAnim" draggable="false" />
			<div class="contact-footer">
				<ul>
					<li><i class="fas fa-phone"></i> <span>+33 6 89 89 81 98</span></li>
					<li><span>ablin.dev@gmail.com </span><i class="fas fa-envelope"></i></li>
				</ul>
			</div>
		</div>
	</section>
</div>

<script src="/scripts/fullpageConfig.js"></script>
<script src="/scripts/submit_contact.js"></script>
<script src="/scripts/icon_hover.js"></script>
<%- include('partials/footer'); -%>
