<%- include('partials/head'); -%>

<div id="fullPage">
	<section class="section main-section hero" id="landing-section" data-anchor="landing">
		<nav class="navbar navbar-dark">
			<a class="navbar-brand" href="#">ablin@dev</a>

			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="https://www.github.com/ablin42" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://www.linkedin.com/in/ablin42/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
				</li>
			</ul>
		</nav>

		<h3>Hi, Im a <b>{ fullstack web developer }</b> and my name is</h3>
		<h1 class="hero-title">Andréas Blin</h1>
		<h2 class="hero-secondary-title">I will build the website you've been dreaming of</h2>

		<a href="#portfolio" class="action-link portfolio-link">My portfolio</a>

		<img src="/svg/undraw_freelancer.svg" class="freelancer-svg" alt="Freelance Illustration" />
		<div class="scroll-indicator"></div>
	</section>

	<section class="section main-section even" id="portfolio-section" data-anchor="portfolio">
		<div class="bg-clipper">
			<h1 class="hero-title mt-2 mb-5">Portfolio</h1>

			<div class="slide">
				<div class="portfolio-item row">
					<div class="portfolio-info col-md-4 offset-md-1">
						<h1>Maral.fr</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor dui quis maximus feugiat. Duis sit amet sapien aliquet, hendrerit sem non, commodo arcu. Vivamus semper, felis ac
							condimentum ultricies, odio est elementum turpis, et fringilla orci velit a lorem.
						</p>
						<ul>
							<li>NodeJS</li>
							<li>API</li>
							<li>Bootstrap</li>
							<li>HTML</li>
							<li>CSS</li>
						</ul>
						<div class="skill-call-wrapper">
							<a href="#skills" class="action-link inverted m-auto">My skills</a>
						</div>
					</div>

					<div class="portfolio-thumbnail-wrapper col-md-6">
						<a href="https://www.maral.fr" target="_blank"> <img class="w-100" src="/img/maral_thumbnail.jpg" alt="Maral.fr Screenshot" /></a>
					</div>
				</div>
			</div>

			<div class="slide"></div>

			<div class="slide"></div>
		</div>
	</section>

	<section class="section main-section" id="skills-section" data-anchor="skills">
		<h1 class="hero-title mt-2 mb-0">Skills</h1>

		<p class="skills-text">{ Non-exhaustive list }</p>
		<div class="skills-section-wrapper">
			<div class="skills-section">
				<h2>Front-end</h2>
				<div class="skills-wrapper">
					<h1>{</h1>
					<div class="wrapper-icon">
						<div>
							<img class="skill-icon" src="/img/icons/javascript_icon.png" alt="Javascript" />
						</div>
						<label>Javascript</label>
					</div>
					<div class="wrapper-icon">
						<div>
							<img class="skill-icon" src="/img/icons/html_icon.png" alt="HTML5" />
						</div>
						<label>HTML5</label>
					</div>
					<div class="wrapper-icon">
						<div>
							<img class="skill-icon" src="/img/icons/css_icon.png" alt="CSS3" />
						</div>
						<label>CSS3</label>
					</div>
					<div class="wrapper-icon">
						<div>
							<img class="skill-icon" src="/img/icons/sass_icon.png" alt="SASS" />
						</div>
						<label>SASS</label>
					</div>
					<div class="wrapper-icon">
						<div>
							<img class="skill-icon" src="/img/icons/vuejs_icon.png" alt="Vuejs" />
						</div>
						<label>Vue.js</label>
					</div>
					<div class="wrapper-icon">
						<div>
							<img class="skill-icon" src="/img/icons/bootstrap_icon.png" alt="Bootstrap" />
						</div>
						<label>Bootstrap</label>
					</div>
					<h1>}</h1>
				</div>

				<div class="skills-section">
					<h2>Back-end</h2>
					<div class="skills-wrapper">
						<h1>{</h1>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/nodejs_icon.png" alt="NodeJS" />
							</div>
							<label>NodeJS</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/css_icon.png" alt="PHP" />
							</div>
							<label>PHP</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/database_icon.png" alt="Database SQL/noSQL" />
							</div>
							<label>SQL / noSQL</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/api_icon.png" alt="API" />
							</div>
							<label>API</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/s3_icon.png" alt="S3" />
							</div>
							<label>S3</label>
						</div>
						<h1>}</h1>
					</div>
				</div>

				<div class="skills-section">
					<h2>Misc</h2>
					<div class="skills-wrapper">
						<h1>{</h1>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/git_icon.png" alt="Git" />
							</div>
							<label>Git</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/docker_icon.png" alt="Docker" />
							</div>
							<label>Docker</label>
						</div>

						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/console_icon.png" alt="Shell" />
							</div>
							<label>Shell</label>
						</div>
						<h1>}</h1>
					</div>
				</div>
			</div>
			<a href="#contact" class="action-link m-auto">Contact me !</a>
		</div>
	</section>

	<section class="section main-section even" id="contact-section" data-anchor="contact">
		<div class="bg-clipper">
			<h1 class="hero-title mt-2">Contact</h1>

			<form class="col-md-6 offset-md-3 mt-5 p-0" id="contact-form" method="POST" action="/api/contact/">
				<div class="row">
					<div class="col-md-12">
						<label class="control-label">Email</label>
						<input placeholder="johndoe@gmail.com" type="email" name="email" id="email" required />
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-md-12">
						<label class="control-label">Object</label>
						<input placeholder="Hello..." type="text" name="title" id="title" required />
					</div>
					<div class="col-md-12 mt-2">
						<label class="control-label">Message</label>
						<textarea class="mb-0" id="content" rows="5" name="content" placeholder="Write your message here...." required></textarea>
					</div>
				</div>
				<input type="submit" class="action-btn inverted" value="Send" id="submit-contact" />
				<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
			</form>

			<div class="contact-footer mb-5">
				<ul>
					<li><i class="fas fa-phone"></i> +33 6 89 89 81 98</li>
					<li>ablin.dev@gmail.com <i class="fas fa-envelope"></i></li>
				</ul>
			</div>
		</div>
	</section>
</div>

<script>
	new fullpage("#fullPage", {
		autoScrolling: true,

		anchors: ["landing", "portfolio", "skills", "contact"],
		navigation: true,
		navigationPosition: "right",
		navigationTooltips: ["Landing", "Portfolio", "Skills", "Contact"],
		showActiveTooltip: false
		//slidesNavigation: false,
		//slidesNavPosition: "bottom"
	});
</script>

<%- include('partials/footer'); -%>

<!--
<section class="intro">
  <p class="scroll-text">Scroll down</p>
</section>
<section class="anim">
  <h1 data-lax-preset="rightToLeft-.1 fadeInOut">Animation</h1>
  <p class="desc" data-lax-preset="blurInOut fadeInOut">
    Check out this nifty little scroll based animation with laxxx.js
  </p>
  <div class="lax box1" data-lax-preset="spin fadeOut"></div>
  <div
    class="box2"
    data-lax-scale="700 0, 500 1, 100 1, 0 0"
    data-lax-anchor="self"
  ></div>
</section>
<section></section>
<script src="/scripts/laxConfig.js"></script>-->
