<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="csrf-token" content="<%= locals.csrfToken %>" />
		<meta name="robots" content="index,follow" />

		<meta name="application-name" content="Fullstack Web Developer | ablin@dev" />
		<meta name="author" content="Andréas Blin, Fullstack Web Developer freelance@ablin.dev" />
		<meta name="description" content="Web Developer Fullstack expert in Javascript Based in Paris | Ready to enhance your online activity and grow your business, open for hire" />
		<meta
			name="keywords"
			content="Developer, Développeur, Web, Fullstack, Paris, ile de france, ile, france, Portfolio, front-end, back-end, Création de site, Website building, Website, Freelance, ablin, dev, ablin@dev, ablin.dev, ablin42, Andréas Blin, Andréas, Blin, Javascript, Node.js, React, Nodejs, Vuejs, Vue.js, xs-url.fr, xs-url, xs url, url"
		/>
		<meta name="url" content="https://www.ablin.dev/" />
		<meta name="identifier-URL" content="https://www.ablin.dev/" />
		<meta name="category" content="Web Developer Fullstack" />

		<meta property="og:title" content="Fullstack Web Developer | ablin@dev" />
		<meta property="og:description" content="Web Developer Fullstack expert in Javascript Based in Paris | Ready to enhance your online activity and grow your business, open for hire" />

		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.ablin.dev/" />
		<meta property="og:image" content="https://www.ablin.dev/img/screencap.png" />

		<link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
		<title>Web Developer | ablin@dev</title>

		<!-- JQuery -->
		<script type="text/javascript" src="/jQuery.min.js"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="/bootstrap.min.css" />
		<script src="/bootstrap.min.js"></script>

		<!-- fullpage-->
		<script src="/scripts/fullpage.min.js"></script>
		<link rel="stylesheet" href="/fullpage.min.css" />

		<!-- <script src="https://cdn.jsdelivr.net/npm/lax.js"></script> -->

		<!-- FontAwesome Icons -->
		<script src="/fontawesome.kit.js"></script>

		<script src="/scripts/core/alert.js"></script>
		<link rel="stylesheet" href="/main.css" />
	</head>
	<body></body>
</html>
